doctype html
html
  head
    title  User Profile
    link(rel='stylesheet', href='/../../css/signform.css')
  body
    form#uploadForm
      button.signButton(type='submit', value='test') Check
  footer
    div
      p#resMsg
    script(src='/../../js/userprofile.js')
