* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: Helvetica, Arial;
  line-height: 1.5;
  text-align: left;
  color: #0C2233;
}

#pageTitle {
  text-align: center;
}

input {
  width: 200px;
  font-size: 1em;
  margin: 5px;
  outline: none;
}

select {
  width: 200px;
}

#signContainer{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

#signInBlock,
#signUpBlock,
.signBlock {
  width: 40%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: aliceblue;
}

#uploadForm div {
  margin-top: 20px;
}

.signButton {
  width: 150px;
  height: 30px;
  background-color: Bisque;
  margin-bottom: 10px;
}

#status{
  margin-bottom: 20px;
}

#signUserInfo{
  width: 40%;
  margin: 0 auto;
}

#registerResponse,
#loginResponse{
  width: 40vw;
  word-wrap: break-word;
}
